
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper2">
    <div id="ribbon">
        <ol class="breadcrumb pull-left">
            <li><a href="" class="addtabsit"><i class="fa fa-dashboard"></i>控制台</a></li>
        </ol>
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">控制台</a></li>
        </ol>
    </div>
    <div class="content">
        <div class="panel panel-default panel-intro">
            <div class="panel-heading">
                <div class="panel-lead">
                    <em>
                        控制台
                    </em>
                    用于展示当前系统中的统计数据、统计报表及重要实时数据
                </div>
                <!--tab切换-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#one" data-toggle="tab">
                            控制台
                        </a>
                    </li>
                    <li>
                        <a href="#two" data-toggle="tab">
                            自定义
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <!--系统自带-->
                    <div class="tab-pane fade active in" id="one">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="sm-st clearfix">
                                    <span class="sm-st-icon st-red">
                                        <i class="fa fa-users">
                                        </i>
                                    </span>
                                    <div class="sm-st-info">
                                        <span>
                                            35200
                                        </span>
                                        总会员数
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="sm-st clearfix">
                                    <span class="sm-st-icon st-violet">
                                        <i class="fa fa-book">
                                        </i>
                                    </span>
                                    <div class="sm-st-info">
                                        <span>
                                            219390
                                        </span>
                                        总访问数
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="sm-st clearfix">
                                    <span class="sm-st-icon st-blue">
                                        <i class="fa fa-shopping-bag">
                                        </i>
                                    </span>
                                    <div class="sm-st-info">
                                        <span>
                                            32143
                                        </span>
                                        总订单数
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="sm-st clearfix">
                                    <span class="sm-st-icon st-green">
                                        <i class="fa fa-cny">
                                        </i>
                                    </span>
                                    <div class="sm-st-info">
                                        <span>
                                            174800
                                        </span>
                                        总金额
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-lg-8">
                                
                            </div>
                            <div class="col-lg-4">
                                <div class="card sameheight-item stats">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-xs-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-rocket">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        430
                                                    </div>
                                                    <div class="name">
                                                        今日注册
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 30%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-shopping-cart">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        321
                                                    </div>
                                                    <div class="name">
                                                        今日登录
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 25%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-line-chart">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        2324
                                                    </div>
                                                    <div class="name">
                                                        今日订单
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 25%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-users">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        132
                                                    </div>
                                                    <div class="name">
                                                        未处理订单
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 25%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-list-alt">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        80%
                                                    </div>
                                                    <div class="name">
                                                        七日新增
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 25%">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-dollar">
                                                    </i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value">
                                                        32%
                                                    </div>
                                                    <div class="name">
                                                        七日活跃
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 25%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="row" style="margin-top:15px;">
                            <div class="col-lg-12">
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="panel bg-blue">
                                    <div class="panel-body">
                                        <div class="panel-title">
                                            <span class="label label-success pull-right">
                                                实时
                                            </span>
                                            <h5>
                                                分类统计
                                            </h5>
                                        </div>
                                        <div class="panel-content">
                                            <h1 class="no-margins">
                                                1234
                                            </h1>
                                            <div class="stat-percent font-bold text-gray">
                                                <i class="fa fa-commenting">
                                                </i>
                                                1234
                                            </div>
                                            <small>
                                                当前分类总记录数
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="panel bg-aqua-gradient">
                                    <div class="panel-body">
                                        <div class="ibox-title">
                                            <span class="label label-info pull-right">
                                                实时
                                            </span>
                                            <h5>
                                                附件统计
                                            </h5>
                                        </div>
                                        <div class="ibox-content">
                                            <h1 class="no-margins">
                                                1043
                                            </h1>
                                            <div class="stat-percent font-bold text-gray">
                                                <i class="fa fa-modx">
                                                </i>
                                                2592
                                            </div>
                                            <small>
                                                当前上传的附件数量
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="panel bg-purple-gradient">
                                    <div class="panel-body">
                                        <div class="ibox-title">
                                            <span class="label label-primary pull-right">
                                                实时
                                            </span>
                                            <h5>
                                                文章统计
                                            </h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">
                                                        1234
                                                    </h1>
                                                    <div class="font-bold text-navy">
                                                        <i class="fa fa-commenting">
                                                        </i>
                                                        <small>
                                                            评论次数
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">
                                                        6754
                                                    </h1>
                                                    <div class="font-bold text-navy">
                                                        <i class="fa fa-heart">
                                                        </i>
                                                        <small>
                                                            点赞次数
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="panel bg-green-gradient">
                                    <div class="panel-body">
                                        <div class="ibox-title">
                                            <span class="label label-primary pull-right">
                                                实时
                                            </span>
                                            <h5>
                                                新闻统计
                                            </h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">
                                                        5302
                                                    </h1>
                                                    <div class="font-bold text-navy">
                                                        <i class="fa fa-commenting"></i>
                                                        <small>
                                                            评论次数
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h1 class="no-margins">
                                                        8205
                                                    </h1>
                                                    <div class="font-bold text-navy">
                                                        <i class="fa fa-user"></i>
                                                        <small>
                                                            点赞次数
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <h3 class="box-title">
                                            最新新闻
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <a href="https://www.junphp.com" target="_blank" class="btn btn-box-tool">
                                                更多
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body" id="news-list">
                                        <ul class="nav nav-stacked">
                                            <li>
                                                <a href="https://www.junphp.com" target="_blank">
                                                    <span class="text">
                                                        神牛教JunCMS内容管理系统上线
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.junphp.com" target="_blank">
                                                    <span class="text">
                                                        神牛教JunCMS内容管理系统上线
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.junphp.com" target="_blank">
                                                    <span class="text">
                                                        神牛教JunCMS内容管理系统上线
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.junphp.com" target="_blank">
                                                    <span class="text">
                                                        神牛教JunCMS内容管理系统上线
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.junphp.com" target="_blank">
                                                    <span class="text">
                                                        神牛教JunCMS内容管理系统上线
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">
                                            最新发贴
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <a href="https://www.junphp.com" class="btn btn-box-tool">
                                                更多
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body" id="discussion-list">
                                        <ul class="products-list product-list-in-box">
                                            <li class="item">
                                                <div class="">
                                                    <a href="https://www.junphp.com" target="_blank" class="product-title">
                                                        神牛教JunCMS内容管理系统上线
                                                        <span class="label label-warning pull-right"></span>
                                                    </a>
                                                    <span class="product-description">
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">
                                            服务器信息
                                        </h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="120px">
                                                        PHP版本
                                                    </td>
                                                    <td>
                                                        7.0.12
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        JunCMS版本
                                                    </td>
                                                    <td>
                                                        v1.0.1
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        运行方式
                                                    </td>
                                                    <td>
                                                        cgi-fcgi
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        调试模式
                                                    </td>
                                                    <td>
                                                        是
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        环境信息
                                                    </td>
                                                    <td>
                                                        Apache/2.4.23 (Win32) OpenSSL/1.0.2j mod_fcgid/2.3.9
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        上传模式
                                                    </td>
                                                    <td>
                                                        local
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        上传URL
                                                    </td>
                                                    <td>
                                                        ajax/upload
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        时区
                                                    </td>
                                                    <td>
                                                        PRC
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120px">
                                                        语言
                                                    </td>
                                                    <td>
                                                        zh-cn
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="two">
                        <div class="row">
                            <div class="col-xs-12">
                                这里是你的自定义数据
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
