<link href="__ADMIN__/css/juncms.min2.css?v=1" rel="stylesheet" type="text/css" />  



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
	<!-- END RIBBON -->
	<div class="content">
		<div class="panel panel-default panel-intro">
			<div class="panel-heading">
				<div class="panel-lead">
					<em>
                        IP黑名单设置
					</em>
					...
				</div>
			</div>
			<div class="panel-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="one">
						<div class="widget-body no-padding">
							<div class="bootstrap-table">


                                <div class="org-left-col tray-cell j_depa" style="float:left;margin-right: 10px">
                                    <div id="mCSB_32_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="padding: 10px;">
                                            <form class="layui-form">
                                            <div class="user-sortbar table-tray"></div>
                                            <input type="hidden" id="upd_id">
                                            
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">IP地址：</label>
                                                <div class="layui-input-block">
                                                    <input type="text" class="layui-input" id="ip" placeholder="例如：127.0.0.1">
                                                </div>
                                            </div>

                                            <div class="layui-form-item">
                                                <label class="layui-form-label">封禁/关闭：</label>
                                                <div class="layui-input-block">
                                                    <input type="checkbox" id="status" lay-skin="switch" lay-text="封禁|关闭" value="1" checked>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label"> </label>
                                                <div class="layui-input-block">
                                                    {if condition="$adminController->vif('security','blackip_add')"}<button type="button" class="btn btn-sm btn-primary add_prevstep" style="display: inline-block;">确认提交</button>{/if}
                                                    {if condition="$adminController->vif('security','blackip_upd')"}<button type="button" class="btn btn-sm btn-success upd_prevstep" style="display: none">确认修改</button>{/if}
                                                </div>
                                            </div>
                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>


								<div class="fixed-table-toolbar" style="width:-webkit-calc(100% - 310px); width:-moz-calc(100% - 310px); width:calc(100% - 310px);float: left;">
									<div class="bs-bars pull-left">
										<div id="toolbar" class="toolbar">
											<a href="javascript:window.location.reload();" class="btn btn-primary btn-refresh" title="刷新">
												<i class="fa fa-refresh"></i>
                                            </a>
                                            {if condition="$adminController->vif('security','blackip_add')"}
											<a href="{:url('blackip')}" class="btn btn-success btn-add" title="封禁新IP">
												<i class="fa fa-plus"></i> 封禁新IP
                                            </a>
                                            {/if}
										</div>
									</div>
									<div class="columns columns-right btn-group pull-right">
										
										<div class="keep-open btn-group" title="列">
											<button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="glyphicon glyphicon-th icon-th"></i>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" id="table_menu">
												
											</ul>
										</div>
                                        
									</div>
								</div>
								<div class="fixed-table-container" style="width:-webkit-calc(100% - 310px); width:-moz-calc(100% - 310px); width:calc(100% - 310px);float: left;">
									<div class="fixed-table-body">
										<table id="table" class="table table-striped table-bordered table-hover"
										data-operate-edit="1" data-operate-del="1" width="100%">
											<thead>
												<tr>
                                                    <th data-status="1"><div class="th-inner">ID号</div></th>
                                                    <th data-status="1"><div class="th-inner">IP</div></th>
                                                    <th data-status="1"><div class="th-inner">状态</div></th>
                                                    <th data-status="1"><div class="th-inner">创建人</div></th>
                                                    <th data-status="1"><div class="th-inner">创建时间</div></th>
                                                    <th data-status="1" width="100px"><div class="th-inner">操作</div></th>
												</tr>
                                            </thead>
                                            
											<tbody>

                                                {volist name="list" id="v"}
                                                <tr class="del-{$v.bi_id}">
                                                    <td align="center">{$v.bi_id}</td>
                                                    <td align="center">{$v.bi_ip}</td>
                                                    <td align="center">
                                                        {switch name="v.bi_status"}
                                                            {case value='2'}关闭{/case}
                                                            {case value='1'}<font color="red">封禁</font>{/case}
                                                        {/switch}
                                                    </td>
                                                    <td align="center"><a>{$v.m_nice}</a></td>
                                                    <td align="center"><a>{$v.bi_time|date="Y-m-d H:i", ###}</a></td>
                                                    <td align="center">
                                                        {if condition="$adminController->vif('security','blackip_upd')"}
                                                        <button data-id="{$v.bi_id}" data-ip="{$v.bi_ip}" data-status="{$v.bi_status}" class="btn btn-xs btn-success btn-editone upd_success" title="编辑">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        {/if}
                                                        {if condition="$adminController->vif('security','blackip_del')"}
                                                        <button data-id="{$v.bi_id}" class="btn btn-xs btn-danger btn-delone del_success" title="删除">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        {/if}
                                                    </td>
                                                </tr>
                                                {/volist}
                                                
											</tbody>
										</table>
                                    </div>
                                    <div class="fixed-table-pagination" style="display: block;">
										<div class="pull-left pagination-detail">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

								
<script>
layui.use(['form'], function(){
  var form = layui.form;
});

// 监听添加
$(".add_prevstep").on('click', function(){
	var ip     = $('#ip').val();
    var status = (document.getElementById("status").checked === true) ? $('#status').attr('value') : 2;
	var data   = {'ip':ip, 'status':status};

	if (ip == '') {
		$.thinkmimi({Content : '需要封禁的IP不能为空！', Type:2, Align:'right', OutTime:2000});return false;
	}

	$.ajax({
		type: 'post',
		data: data,
		url: "{:url('security/blackip_add')}",
		success: function(data) {
			var array = eval('(' + data+ ')');
			if (array['code'] == '01') {
                $.thinkmimi({Content : array['msg'], Type:2, Align:'right', OutTime:2000});
			} else {
				$.thinkmimi({Content : array['msg'], Type:1, Align:'right', OutTime:2000});
				setTimeout(function(){window.location.href = "{:url('blackip')}";},800); 
			}
		}
	});
});

// 点击修改获得参数
$(".upd_success").on('click', function(){
	var id     = $(this).attr('data-id');
    var ip     = $(this).attr('data-ip');
    var status = $(this).attr('data-status');

    $('#upd_id').val(id);
    $('#ip').val(ip);

    if (status == 2){
        $("#status").attr('checked', false);
        var form = layui.form;
        form.render(); //更新全部
    }
    
	$('.upd_prevstep').css('display','inline-block');
    $('.add_prevstep').css('display','none');
});

// 监听修改提交
$(".upd_prevstep").on('click', function(){
    var upd_id = $('#upd_id').val();
    var ip     = $('#ip').val();
    var status = (document.getElementById("status").checked === true) ? $('#status').attr('value') : 2;
	var data = {'upd_id':upd_id, 'ip':ip, 'status':status};

	if (ip == '') {
        $.thinkmimi({Content : '需要封禁的IP不能为空！', Type:2, Align:'right', OutTime:2000});return false;
	}

	$.ajax({
		type: 'post',
		data: data,
		url: "{:url('security/blackip_upd')}",
		success: function(data) {
			var array = eval('(' + data+ ')');
			if (array['code'] == '01') {
				$.thinkmimi({Content : array['msg'], Type:2, Align:'right', OutTime:2000});
			} else {
				$.thinkmimi({Content : array['msg'], Type:1, Align:'right', OutTime:2000});
				setTimeout(function(){window.location.reload();},1500); 
			}
		}
	});
});

// 删除
$(".del_success").on('click', function(){
    if (confirm('确认删除吗')) {
        var id   = $(this).attr('data-id');
        var data = {'id':id};

        $.ajax({
            type: 'post',
            data:data,
            url: "{:url('security/blackip_del')}",
            success: function(data) {
                var array = eval('('+data+')');
				if (array['code'] == '01') {
					$.thinkmimi({Content : array['msg'], Type:2, Align:'right', OutTime:2000});
				} else {
					$.thinkmimi({Content : array['msg'], Type:1, Align:'right', OutTime:2000});
					$('.del-'+id).remove();
				}
            }
        });
    }
});
</script>