<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
	<!-- END RIBBON -->
	<div class="content">
		<div class="panel panel-default panel-intro">
			<div class="panel-heading">
				<div class="panel-lead">
					<em>管理员登录日志管理</em>
					...
				</div>
			</div>
			<div class="panel-body">
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="one">
						<div class="widget-body no-padding">
							<div class="bootstrap-table">

								<div class="fixed-table-toolbar">
									<div class="bs-bars pull-left">
										<div id="toolbar" class="toolbar">
											<a href="javascript:window.location.reload();" class="btn btn-primary btn-refresh" title="刷新">
												<i class="fa fa-refresh"></i>
                                            </a>
										</div>
									</div>
									<div class="columns columns-right btn-group pull-right">
										
										<div class="keep-open btn-group" title="列">
											<button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="glyphicon glyphicon-th icon-th"></i>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" id="table_menu">
												
											</ul>
										</div>
                                        
									</div>
								</div>
								<div class="fixed-table-container">
									<div class="fixed-table-body">
										<table id="table" class="table table-striped table-bordered table-hover"
										data-operate-edit="1" data-operate-del="1" width="100%">
											<thead>
												<tr>
													<th data-status="1" width="30px"><div class="th-inner"><input type="checkbox" onclick="javascript:selectAll(this);" /></div></th>
                                                    <th data-status="1" width="70px"><div class="th-inner">ID</div></th>
                                                    <th data-status="1" width="170px"><div class="th-inner">管理员昵称</div></th>
													<th data-status="1" width="170px"><div class="th-inner">IP</div></th>
													<th data-status="1"><div class="th-inner">地址</div></th>
													<th data-status="1" width="170px"><div class="th-inner">登录时间</div></th>
                                                    <th data-status="1" width="50px"><div class="th-inner">操作</div></th>
												</tr>
											</thead>
                                            <form method="POST" action="{:url('loginlog/del')}">
											<tbody>


                                                {volist name="list" id="v"}
                                                <tr>
                                                    <td align="center"><input type="checkbox" name="id[]" class="ids" lay-skin="primary" value="{$v.l_id}"></td>
													<td align="center">{$v.l_id}</td>
													<td align="center">{$v.m_nice}</td>
													<td align="center">{$v.l_ip}</td>
													<td align="center">{$v.l_province} - {$v.l_city} - {$v.l_area}</td>
													<td align="center">{$v.l_time|date="Y-m-d H:i:s",###}</td>
                                                    <td align="center">
														{if condition="$adminController->vif('loginlog','del')"}
														<a href="{:url('del', ['id'=>$v['l_id']])}" class="btn btn-xs btn-danger btn-delone del_edition" title="删除">
															<i class="fa fa-trash"></i>
														</a>
														{/if}
                                                    </td>
                                                </tr>
												{/volist}
												<tr>
													<td colspan="10">
														{if condition="$adminController->vif('loginlog','del')"}
															<button type="submit" class="btn btn-sm btn-success u_bt del_success">删除</button>
														{/if}
													</td>
												</tr>
											</tbody>
											</form>
										</table>
									</div>
									
									<div class="fixed-table-pagination" style="display: block;">
										<div class="pull-left pagination-detail">
											{$page}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

								
<script>
layui.use(['form'], function(){
  var form = layui.form;
});

function selectAll(id) {
    var obj = document.getElementsByTagName('input');
    for (i = 0; i < obj.length; i++ ) {
		if(obj[i].className=="ids"){
        	obj[i].checked = id.checked;
		}
    }
}
</script>
