<style>
body{background: #fff;padding: 20px}
.job{height:30px; border:1px #ccc solid;color: #fff; margin:5px; float:left; text-align:center; line-height:20px; background:#009688; position:relative; padding:5px; cursor:pointer}
td,th{font-size:13px}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {border: 1px solid #e8e8e8;text-align: left;}
</style>
        

<div class="org-view-wrapper card table-tray">
    
    <div class="org-right-col tray-cell j_user">
        <div class="user-sort-view j-user-list">
            <div class="users-list-pinyin"></div>
            <div class="user-sortbar table-tray"><div class="tray-cell" style="width: 300px"></div></div>
            <div id="user-container" class="users-container">
                <div class="bs-example">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>表名</th>
                            <th colspan="6">{$data.table}</th>
                        </tr>
                        <tr>
                            <th>别名</th>
                            <th colspan="6">{$data.remark}</th>
                        </tr>
                        <tr>
                            <th>表编码</th>
                            <th colspan="6">{$data.code}</th>
                        </tr>

                        <tr>
                            <th>总数据量</th>
                            <th colspan="6">{$data.count}</th>
                        </tr>

                        <tr><th colspan="7" style="text-align: center">字段信息</th></tr>
                        
                        <tr>
                            <th>字段名</th>
                            <th>别名</th>
                            <th>类型</th>
                            <th>索引</th>
                            <th width="150">默认值</th>
                            <th width="50">自增</th>
                            <th width="50">为空</th>
                        </tr>

                        {volist name="list" id="v"}

                        <tr>
                            <th>{$v.Field}</th>
                            <th>{$v.Comment}</th>
                            <th>{$v.Type}</th>
                            <th>
                                {switch name="$v.Key"}
                                    {case value="PRI"}主键索引{/case}
                                    {case value="MUL"}普通索引{/case}
                                    {case value="UNI"}唯一索引{/case}
                                    {default /}{$v.Key}
                                {/switch}
                            </th>
                            <th>{$v.Default}</th>
                            <th>
                                {if condition="!empty($v['Extra'])"}YES{else /}NO{/if}
                            </th>
                            <th>{$v.Null}</th>
                        </tr>

                        {/volist}	
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

</div>


