{include file="index/header" /}


<div class="main">
        <div class="main-body">
            
    
            <!--正文-->
    <div class="text">
            <!--左边框-->
            <div class="left_text">
               <!--装文章的框-->
               <div class="index_text">
                  <!--标题-->
                  <div class="it_title">{$info.title}</div>
                  <!--作者、发布时间-->
                  <div class="writer">
                      <span class="writerspan1">{$info.time}</span>
                      <span class="writerspan3">·</span>
                      <span class="writerspan2">IT资讯</span>
                  </div>
                  <!--关键句-->
                  <div class="key_line">{$info.des}</div>
                  <hr class="hr1" />
                  <!--图片+文章-->
                  <div class="text_essay" id="doc-content"><textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;">{$info.content}</textarea></div>
                   <!--单张图文填充框-->
                   <div class="tw_tjback"></div>
                  <!--版权注释-->
                  <div class="note">
                     <div>
                       本文参考了多个信息来源：
                       <span><a href="#">www.jun[h[]].com</a></span>
                       ,如若转载，请注明出处：https://blog.junphp.com
                     </div>
                     <div>
                        看完这篇还不够？如果你也在创业，希望自己的项目被报道，请
                        <span><a href="#">戳这里</a></span>
                        告诉我们
                     </div>
                  </div>
                  <!--标签-->
                  <!--筛选框-->
                  <div class="filter">
                     {ams:tag table='demo_news' field='tags' tag="$info['id']"}
                        <a href="#"><li>{$vo}</li></a>
                     {/ams:tag}
                  </div>
                  <!--赞-->
                  <div class="text_laud" id="text_laud">
                     <div class="laud">
                         <img src="__HOME__/index/images/laud.png" class="laud_img" />
                         <span class="laud_span">赞</span>
                     </div>
                  </div>
                  <!--作者栏位置填充框-->
                  <div class="writer3"></div>
                  <!--作者框-->
                  <div class="writer2" id="writer2">
                     <!--操作框-->
                     <div class="cz_box">
                         <img src="__HOME__/index/images/sc2.png" class="cz_left2" id="sc" /><img src="__HOME__/index/images/sc.png" class="cz_left" id="sc2" /><span id="sc_span">{$info.love}</span>
                         <img src="__HOME__/index/images/chatroom.png" class="cz_left2" id="chatroom" /><img src="__HOME__/index/images/chatroom2.png" class="cz_left" id="chatroom2" /><span id="chatroom_span">{$info.comment}</span>
                         <img src="__HOME__/index/images/reward2.png" class="cz_left2" id="reward" /><img src="__HOME__/index/images/reward.png" class="cz_left" id="reward2" />
                         <li></li>
                         <img src="__HOME__/index/images/weixin3.png" id="weixin" /><img src="__HOME__/index/images/weixin2.png" id="weixin2" />
                         <img src="__HOME__/index/images/weibo3.png" class="cz_left2" id="weibo" /><img src="__HOME__/index/images/weibo2.png" class="cz_left" id="weibo2" />
                         <li></li>
                         <img src="__HOME__/index/images/essay2.png" class="cz_left2" id="essay" /><img src="__HOME__/index/images/essay.png" class="cz_left" id="essay2" />
                         <img src="__HOME__/index/images/top2.png" class="cz_left2" id="top" /><img src="__HOME__/index/images/top.png" class="cz_left" id="top2" />                
                         <!--提示框-->
                         <!--打赏-->
                         <div class="cue cue1" id="reward_box"><div class="cue_sjx cue_sjx1"></div></div>
                         <div class="cueback cueback1" id="reward_box2"><img src="__HOME__/index/images/alipay.png" id="reward_ewm" /><div class="cueback_sjx cueback_sjx1"></div></div>
                         <!--微信-->
                         <div class="cue cue2" id="weixin_box"><div class="cue_sjx cue_sjx2"></div></div>
                         <div class="cueback cueback2" id="weixin_box2">
                            <div class="weixin_ewmbox">
                                <div class="ewm_imgbox">
                                   <img src="__HOME__/index/images/weixin_ewm.png" id="ewm_img" />
                                </div>
                                <div class="ewm_text">打开微信扫一扫，点击加关注公众号，关注我们。我们将每天为你们提供最新的农业信息</div>
                            </div>
                         <div class="cueback_sjx cueback_sjx2"></div></div>
                         <!--全屏阅读-->
                         <div class="cue cue3" id="essay_box"><div class="cue_sjx cue_sjx3"></div></div>
                         <div class="cueback cueback3" id="essay_box2">
                            <div class="qpyd_box">“点击”全屏阅读按钮，全屏阅读更尽兴，点击右上角关闭按钮退出全屏</div>
                         <div class="cueback_sjx cueback_sjx3"></div></div>
                     </div>
                     
                     <div class="writer2_box">
                        <img src="__HOME__/index/images/cs5.jpg" class="writer2_img" />
                        <span class="writer2_span">{$info.author}</span>
                        <div class="writer2_title">
                            <div class="writer2_sjx"></div>
                            <div class="writer2_title2">
                                <div class="writer2_sjx2"></div>
                                程序员
                            </div>
                        </div>
                    </div>
                  </div>
                  <!--可能感兴趣的文章-->
                  <div class="foottj_essay">
                      <div class="foottj_title">您可能感兴趣的文章</div>
                      {php} $id = $info['id'];{/php}
                      {ams:list table='demo_news' field='id,title,thumbnail,columnpid' where="id != '$id'" limit='6' order='rand()' id='v'}
                        <div class="foottj_box">
                            <li><a href="/news/details/pid/{$v.columnpid}/id/{$v.id}.html"><img src="{$v.thumbnail}" /></a></li>
                            <div><a href="/news/details/pid/{$v.columnpid}/id/{$v.id}.html">{$v.title}</a></div>
                        </div>
                      {/ams:list}
                  </div>
               <!--左边框结束-->
               </div>
            <!--正文结束-->
            </div>
            
            <!--右侧边栏-->
            <div class="right_box">
                <div class="right_class">
                    <div class="right_title">热门标签</div>
                    <div class="right_new4">
                        
                        {ams:tag table='demo_news' field='tags'}
                            <a href="#"><div class="rn3_title">{$vo}</div></a>
                        {/ams:tag}       
                    </div>        
                </div>
        
                <!--相关文章--->
                <div class="interfix_essay">
                   <div class="interfix_title">相关文章</div>
                    {php} $pid = $info['columnpid'];{/php}
                    {ams:list table='demo_news' field='id,title' where="columnpid = '$pid'" limit='6' order='id DESC' id='v'}
                        <div class="interfix_box">
                            <div class="interfix_dz">●</div>
                            <div id="interfix_text"><a href="/news/details/pid/{$pid}/id/{$v.id}.html">{$v.title}</a></div>
                        </div>
                    {/ams:list}

                   <div class="right_essay">下一篇</div>
                   <div class="top_essay">
                    {ams:list table='demo_news' field='id,columnpid,title,tags' where="id > $id" limit='1' order='id DESC' id='v'}
                    <div id="top_essaya"><a href="/news/details/pid/{$v.columnpid}/id/{$v.id}.html">{$v.title}</a></div>
                        <div class="top_essaytitle">
                            <img src="__HOME__/index/images/alt.png" />
                            {ams:tag table='demo_news' field='tags' tag="$v['id']"}
                               <span>{$vo}</span>
                            {/ams:tag}
                         </div>
                    {/ams:list}
                   </div>
    
    
                   
    
    
                </div>
                
            </div>
        </div>
    
    
        </div>
    </div>




<!--文章全屏查看框-->
<div class="qp_lookback">
<div class="qp_look">
    <div class="qp_text"></div>
</div>
<div class="return_box"><img src="__HOME__/index/images/return.png" title="退出全屏" class="return_img" /></div>
</div>
<!--全屏看图框-->
<div class="qp_imgback"></div>
<div class="qp_imgbox">
    <!--全屏看图的大图显示框-->
</div>
<div class="qp_imglb">
    <div class="qp_lbbox" id="qp_lbbox">
    <!--全屏看图小图轮播的大框 js读入-->
</div>
</div>
<!--左边遮幕框-->
<div class="left_qpimg"><img src="__HOME__/index/images/left.png" /></div>
<div class="left_qpback"></div>
<!--右边遮幕框-->
<div class="right_qpimg"><img src="__HOME__/index/images/right2.png" /></div>
<div class="right_qpback"></div>
<!--关闭全屏看图按钮-->
<div class="close_qpimg">×</div>

{include file="index/footer" /}

<script src="__ADMIN__/editor/lib/marked.min.js"></script>
<script src="__ADMIN__/editor/lib/prettify.min.js"></script>
<script src="__ADMIN__/editor/lib/raphael.min.js"></script>
<script src="__ADMIN__/editor/lib/underscore.min.js"></script>
<script src="__ADMIN__/editor/lib/sequence-diagram.min.js"></script>
<script src="__ADMIN__/editor/lib/flowchart.min.js"></script>
<script src="__ADMIN__/editor/lib/jquery.flowchart.min.js"></script>
<script src="__ADMIN__/editor/editormd.min.js"></script>


<script>
var testEditor;
$(function () {
    testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tex: true, // 默认不解析
        flowChart: true, // 默认不解析
        sequenceDiagram: true, // 默认不解析
        codeFold: true,
    });
});

//作者信息操作栏显示函数
function essay_cz(id1,id2,span){
    $(id1).mouseenter(function(){
        $(this).css({'display':'none'});
        $(id2).css({'display':'inherit'});
        $(span).css({'color':'#4F8FF4'});
    }).mouseleave(function(){
        $(this).css({'display':'inherit'});
        $(id2).css({'display':'none'});
        $(span).css({'color':'#CCC'});
    });
    $(id2).mouseenter(function(){
        $(this).css({'display':'inherit'});
        $(id1).css({'display':'none'});
        $(span).css({'color':'#4F8FF4'});
    }).mouseleave(function(){
        $(this).css({'display':'none'});
        $(id1).css({'display':'inherit'});
        $(span).css({'color':'#CCC'});
    });
}
essay_cz('#sc2','#sc','#sc_span');
essay_cz('#chatroom2','#chatroom','#chatroom_span');
essay_cz('#reward2','#reward');
essay_cz('#weixin2','#weixin');
essay_cz('#weibo2','#weibo');
essay_cz('#essay2','#essay');
essay_cz('#top2','#top');
//作者栏气泡显示方法
function essay_chatroom(id1,id2,id3){
    $(id1).mouseenter(function(){
        $(id2).show();
        $(id3).show();
    }).mouseleave(function(){
        $(id2).hide();
        $(id3).hide();	
    });
}
essay_chatroom('#reward','#reward_box','#reward_box2');
essay_chatroom('#weixin','#weixin_box','#weixin_box2');
essay_chatroom('#essay','#essay_box','#essay_box2');
//作者栏滑动浮动效果
$(document).scroll(function(){
    if($(window).scrollTop()>document.getElementById('text_laud').offsetTop-$(window).height()+80){
        //算法： 参照点的top-屏幕高度-偏移点
        //滚动条高度=网页高度-屏幕高度
        $('#writer2').css({'position':'inherit','border-top':'0px'});
    }else{
            $('#writer2').css({'position':'fixed','border-top':'solid 2px #E3E3E3', 'bottom':'-1px', 'left':'0px','width':'100%'});
    }
})
//作者栏 点击置顶效果
$('#top').click(function(){
    $(document.documentElement).animate({
        scrollTop: 0
    },800);
            //支持chrome
    $(document.body).animate({
        scrollTop: 0
    },800);
})
//作者栏 全屏阅读效果
$('#essay').click(function(){
$('.qp_lookback').animate({'opacity':'1'},10,function(){
    $('.qp_lookback').show();
    $('.qp_look').show();
    $('body').css({'overflow':'hidden'});
    $('.qp_text').html($('.index_text').html());
    $('.writer2').hide();
    $('.tw_tj').hide();
    $('.qp_text').animate({'margin-top':'20px'},800);
})
});
//点击退出全屏
$('.return_img').click(function(){
    $('.writer2').show();
    $('.tw_tj').show();
    $('.qp_lookback').animate({'opacity':'0'},800,function(){
    $('.qp_lookback').hide();
    $('.qp_look').hide();
    $('body').css({'overflow':'auto'});
    $('.qp_text').html($('.index_text').html());
    $('.qp_text').animate({'margin-top':'1080px'},800);
    });
});
//全屏看图 图片决定水平居中
$('.qp_imgbox').css({'line-height':$(window).height()-100+'px'})
//预览小图片框的margin-left居中
$('.qp_lbbox').css({'margin-left':($(window).width())/2-69+'px'})
//左边遮幕框1宽度
$('.left_qpimg').css({'width':($(window).width()-414)/2+'px'})
//左边遮幕框2宽度
$('.left_qpback').css({'width':($(window).width()-138)/2+'px'})
//右边遮幕框1宽度
$('.right_qpimg').css({'width':($(window).width()-414)/2+'px'})
//右边遮幕框2宽度
$('.right_qpback').css({'width':($(window).width()-138)/2+'px'})

//***全屏看图小图获取***
var qpimg_src=new Array();
for(var i=0;i<$('.text_essay img').length;i++){
    qpimg_src[i]=$('.text_essay img')[i].src;
}
//把小图片打印到小图片框
for(var i=0;i<qpimg_src.length;i++){
    $('#qp_lbbox').html($('#qp_lbbox').html()+'<div><span>&nbsp;</span><img src="'+qpimg_src[i]+'" /><span>&nbsp;</span></div>');
}
//小图片点击大图随显示
$('.qp_lbbox div img').click(function(){
    $('.qp_imgbox').html('<span>&nbsp;&nbsp;</span><img src="'+$(this).attr("src")+'" /><span>&nbsp;&nbsp;</span>');
});

//***全屏看图小图左右点击***
var qp_imgnum=0;
$('.right_qpimg img').click(function(){
    qp_stop=1;
    if(qp_imgnum<($('.qp_lbbox div').length-1)*138){
        qp_imgnum+=138;
        $('.qp_lbbox').animate({'margin-left':'-=138px'})
    }
})
$('.left_qpimg img').click(function(){
    if(qp_imgnum>0){
        qp_imgnum-=138;
        $('.qp_lbbox').animate({'margin-left':'+=138px'})
    }
})
//***全屏看图点击关闭*****
$('.close_qpimg').click(function(){
    $('.qp_imgback').hide();
    $('.qp_imgbox').hide();
    $('.qp_imglb').hide();
    $('.left_qpimg').hide();
    $('.left_qpback').hide();
    $('.right_qpimg').hide();
    $('.right_qpback').hide();
    $('.close_qpimg').hide();
});
//文章中点击图片 打开全屏看图
$('.text_essay img').click(function(){
    $('.qp_imgbox').html('<span>&nbsp;&nbsp;</span><img src="'+$(this).attr("src")+'" /><span>&nbsp;&nbsp;</span>');
    $('.qp_imgback').show();
    $('.qp_imgbox').show();
    $('.qp_imglb').show();
    $('.left_qpimg').show();
    $('.left_qpback').show();
    $('.right_qpimg').show();
    $('.right_qpback').show();
    $('.close_qpimg').show();
});
//图片扩大镜
$('.foottj_box li img').mouseenter(function(){
    $(this).stop(true,false);
    $(this).animate({
        'width':'106%',
        'height':'106%',
        'margin-top':'-3%',
        'margin-left':'-3%'
    })
}).mouseleave(function(){
    $(this).stop(true,false);
    $(this).animate({
        'width':'100%',
        'height':'100%',
        'margin-top':'0%',
        'margin-left':'0%'
    })
});
</script>