<style>
body{background: #fff;padding: 20px}
.job{height:30px; border:1px #ccc solid;color: #fff; margin:5px; float:left; text-align:center; line-height:20px; background:#009688; position:relative; padding:5px; cursor:pointer}
td,th{font-size:13px}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {border: 1px solid #e8e8e8;text-align: left;}
</style>
        

<div class="org-view-wrapper card table-tray">
    
    <div class="org-right-col tray-cell j_user">
        <div class="user-sort-view j-user-list">
            <div class="users-list-pinyin"></div>
            <div class="user-sortbar table-tray"><div class="tray-cell" style="width: 300px"></div></div>
            <div id="user-container" class="users-container">
                <div class="bs-example">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>文件路径</th>
                            <th colspan="2">
                                {$url}								
                            </th>
                        </tr>
                        <tr>
                            <th>文件描述</th>
                            <th colspan="2">
                                {$name}								
                            </th>
                        </tr>
                        <tr>
                            <th>方法名称</th>
                            <th colspan="2">
                                {$info.class}
                            </th>
                        </tr>
                        <tr>
                            <th>方法描述</th>
                            <th colspan="2">
                                {$info.des}
                            </th>
                        </tr>
                        <tr>
                            <th>方法备注</th>
                            <th colspan="2">
                                {$info.todo}
                            </th>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <th colspan="2">
                                {$info.author}
                            </th>
                        </tr>
                        <tr>
                            <th>版本-时间</th>
                            <th colspan="2">
                                {$info.version}
                            </th>
                        </tr>
                        <tr>
                            <th>弃用版本</th>
                            <th colspan="2">
                                {$info.deprecated}
                            </th>
                        </tr>
                        <tr>
                            <th>引用了哪些全局变量</th>
                            <th colspan="2">
                                {$info.global}
                            </th>
                        </tr>
                        <tr>
                            <th>属性</th>
                            <th colspan="2">
                                {$info.auth}
                            </th>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <th colspan="2">
                                {$info.static}
                            </th>
                        </tr>

                        {if condition="!empty($info['param'])"}
                        <tr>
                            <th colspan="3" style="text-align: center;">参数</th>
                        </tr>

                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>描述</th>
                        </tr>

                        {foreach name="$info['param']" item="v"}
                        <tr>
                            <th align="center">{$v.0}</th>
                            <th align="center">{$v.1}</th>
                            <th align="center">{$v.2}</th>
                        </tr>
                        {/foreach}
                        {/if}

                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

</div>


